.footer{
    position: relative;
    padding-top: 122px;
    margin-top: 140px;
    min-height: 623px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url('../img/main_bg/main_BG.png'), #C4C4C4;
    &__wrapper{
        width: 100%;
        display: grid;
        grid-template-columns: 470px 540px;
        column-gap: 100px;
    }
    &__title{
        margin: 0;
    }
    &__text{
        margin-top: 60px;
        color: #FFFFFF;
    }
    &__contacts{
        margin-top: 80px;
        display: grid;
        grid-template-columns: 220px 210px;
        column-gap: 40px;
    }
    &__contact{
        display: flex;
        align-items: center;
        &-icon{
            margin-right: 15px;
        }
        &-info{
            font-family: 'Lato';
            font-weight: 300;
            font-size: 21px;
            line-height: 29px;
            color: #FFFFFF;
        }
    }
    &__form{
        position: relative;
        display: grid;
        grid-template: 67px 136px / repeat(2, minmax(100px, 255px));
        column-gap: 30px;
        row-gap: 35px;
    }
    &__input{
        position: relative;
        input{
            padding: 31px 15px 15px 15px;
            border: none;
            border-bottom: 1px solid #fff;
            background: rgba( 0,0,0,.0);
            width: 100%;
            height: 100%;
        }
        label{
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &__textarea{
        position: relative;
        grid-column: 1/3;
        grid-template-rows: 2/3;
        textarea{
            padding: 31px 15px 15px 15px;
            border: none;
            border-bottom: 1px solid #fff;
            background: rgba( 0,0,0,.0);
            width: 100%;
            height: 100%;
            resize: none;

        }
        label{
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &__button{
        position: absolute;
        right: 0;
        bottom: -50px;
    }
}