.header{
    min-height: 110px;
    &__position{
        min-height: 57px;
        display: flex;
        justify-content: space-between;
    }
    &__logo{
        padding-top: 33px;
        width: 260px;
        display: flex;
        align-items: center;
        &-name{
            font-weight: 900;
            font-size: 36px;
            line-height: 50px;
            color: #005FA3;
        }
        &-img{
            margin-right: 30px;
        }
    }
    &__info{
        padding-top: 22px;
        width: 671px;
        display: flex;
        flex-direction: column;
        &-up{
            display: flex;
            justify-content: space-between;
        }
        &-down{
            margin-top: 22px;
            display: flex;
            justify-content: space-between;
            a{
                text-decoration: none;
                transition: all 0.3s;
                &:hover{
                    color: #005FA3;
                }
            }
        }
    }
    &__item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-icon{
            margin-right: 15px;
        }
        &-info{
            font-family: 'Lato';
            font-weight: 400;
            font-size: 13px;
            line-height: 17px;
            color: #000000;
        }
    }
    &__link{
        font-family: 'Lato';
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #222222;
    }
}